<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="qaUrl" class="col-sm-1 control-label">URL</label>

                    <div class="col-sm-11">
                        <input type="text" style="display: inline;width: 90%;" ng-model="apiInfo.qaUrl"
                               class="form-control" id="qaUrl" placeholder="Enter request URL">
                        <button class="btn btn-primary" ng-click="send()" style="display: inline;float: right;">Send
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="selMethod" class="col-sm-1 control-label">Method</label>

                    <div class="col-sm-11">
                        <table>
                            <tr>
                                <td>
                                    <select id="selMethod" class="form-control" ng-model="apiInfo.method"
                                            style="width:100px;display: inline;">
                                        <option value="GET">GET</option>
                                        <option value="POST">POST</option>
                                        <option value="PUT">PUT</option>
                                        <option value="DELETE">DELETE</option>
                                    </select>
                                </td>
                                <td>
                                    <div style="margin-left: 50px;" ng-show="apiInfo.method == 'POST'">
                                        <label class="radio-inline">
                                            <input type="radio" ng-value="1" ng-model="postType" name="postTypeRadio"
                                                   id="urlencodedRadio">
                                            x-www-form-urlencoded
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-value="2" ng-model="postType" name="postTypeRadio"
                                                   id="rawRadio"> raw
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">Headers</label>

                    <div class="col-sm-11">
                        <button ng-click="addHeaders()" class="btn btn-default glyphicon glyphicon-plus"></button>
                        <div id="headersContainer">
                            <div style="margin-top: 10px;" ng-repeat="header in headerList">
                                <input type="text" class="form-control header-key" style="width:200px;display: inline;"
                                       placeholder="key" value="{{header.key}}">
                                <input type="text" class="form-control header-value"
                                       style="width:200px;margin-left:5px;display: inline;" placeholder="value" value="{{header.value}}">
                                <button class="btn btn-default glyphicon glyphicon-minus" ng-click="deleteHeader($event.target)"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-show="apiInfo.method == 'POST'">
                    <label class="col-sm-1 control-label">Params</label>

                    <div class="col-sm-11">
                        <div ng-show="postType == '1'">
                            <button class="btn btn-default glyphicon glyphicon-plus" ng-click="addParams()"></button>
                            <div id="paramsContainer">
                                <div style="margin-top: 10px;" ng-repeat="param in paramList">
                                    <input type="text" class="form-control param-key" style="width:200px;display: inline;"
                                           placeholder="key" value="{{param}}">
                                    <input type="text" class="form-control param-value"
                                           style="width:200px;margin-left:5px;display: inline;" placeholder="value">
                                    <button class="btn btn-default glyphicon glyphicon-minus" ng-click="deleteParam($event.target)"></button>
                                </div>
                            </div>
                        </div>
                        <div ng-show="postType == '2'">
                            <textarea class="form-control" rows="3" placeholder="put json string here"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">Response</label>

                    <div class="col-sm-11">
                        <textarea class="form-control" rows="5" id="callResult"></textarea>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>