<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" data-backdrop="false" id="api-manage-edit-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:60%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">API管理</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="apiNameEdit">API接口</label>
                                        <input id="apiNameEdit" type="text" class="form-control validate-inp-template" ng-model="apiInfo.apiName" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="regex">正则表达式(适用于API中有变量)</span></label>
                                        <input id="regex" type="text" class="form-control" ng-model="apiInfo.regex" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="method">HTTP方法</label>
                                        <select id="method" class="form-control" ng-model="apiInfo.method">
                                            <option value="GET">GET</option>
                                            <option value="POST">POST</option>
                                            <option value="PUT">PUT</option>
                                            <option value="DELETE">DELETE</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="retResultEdit">API返回值</label>
                                        <textarea class="form-control validate-inp-template" id="retResultEdit" ng-model="apiInfo.retResult"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" id="apiInfoOpsBtn" style="margin-top:50px;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" ng-click="save()">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>